# Smoking is bad

In [3]:
# TODO: install all the necessary packages
import pandas as pd
import numpy as np
from pathlib import Path

In [7]:
# TODO: load the data using the pathlib library to create the path to your data
path = Path().parent / "data" / "smoking_data.csv"
print(path)
df = pd.read_csv(path)

data/smoking_data.csv

In [11]:
df.head()

   Unnamed: 0 outcome smoker  age  gender   salary
0           0   Alive    Yes   23  female   7286.0
1           1   Alive    Yes   18    male      NaN
2           2    Dead    Yes   71    male      NaN
3           3   Alive     No   67    male      NaN
4           4   Alive     No   64  female  20123.0

In [8]:
# TODO: what are the dimensions of the data frame?
df.shape

(1314, 6)

In [ ]:
# TODO: use .describe() on your data frame: what do you notice about the string columns?
df.describe()
print("The string columns are not included in the describe function because they aren't numerical numbers to compute statistical measures like mean on")

        Unnamed: 0          age        salary
count  1314.000000  1314.000000    614.000000
mean    656.500000    46.920091  48737.265472
std     379.463437    17.432027  28575.395264
min       0.000000    18.000000   1215.000000
25%     328.250000    32.000000  24112.250000
50%     656.500000    46.000000  48692.000000
75%     984.750000    61.000000  72946.250000
max    1313.000000    84.000000  99677.000000

In [ ]:
# TODO: do not forget to check the null values
df.isnull().sum()
#Salary column has 700 entries that are null

Unnamed: 0      0
outcome         0
smoker          0
age             0
gender          0
salary        700
dtype: int64

In [13]:
# TODO: prepare your data frame so that you can work with
df = df.dropna()

In [16]:
print(df.isnull().sum())
print(df.shape)

Unnamed: 0    0
outcome       0
smoker        0
age           0
gender        0
salary        0
dtype: int64
(614, 6)

## Smoking analysis
Let's first check what your cousin did.

In [22]:
# TODO: Reimplement the small code snippet described in the problem set instructions.
df["smokes"] = df["smoker"].apply(lambda x: 1 if x == "Yes" else 0)
df["alive"] = df["outcome"].apply(lambda x: 1 if x == "Alive" else 0)
df.groupby(["smokes"]).agg(prob=("alive", np.mean))

/var/folders/4l/356ftc5d0wsd3c6hcfb63f4m0000gn/T/ipykernel_64302/2802375706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["smokes"] = df["smoker"].apply(lambda x: 1 if x == "Yes" else 0)
/var/folders/4l/356ftc5d0wsd3c6hcfb63f4m0000gn/T/ipykernel_64302/2802375706.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["alive"] = df["outcome"].apply(lambda x: 1 if x == "Alive" else 0)
/var/folders/4l/356ftc5d0wsd3c6hcfb63f4m0000gn/T/ipykernel_64302/2802375706.py:4: FutureWarning: The provided callable <function mean at 0x1132f94e0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby(["smokes"]).agg(prob=("alive", np.mean))

            prob
smokes
0       0.683582
1       0.767025

You should get the same results.

# Is smoking really good?
Now it is up to you to run the analysis further and check what could be underlying your cousings results.